@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'fantasque_sans_monoregular';
  src: url('/fantasquesansmono-regular-webfont.eot');
  src:
    url('/fantasquesansmono-regular-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('/fantasquesansmono-regular-webfont.woff') format('woff'),
    url('/fantasquesansmono-regular-webfont.ttf') format('truetype'),
    url('/fantasquesansmono-regular-webfont.svg#fantasque_sans_monoregular')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary: #5e35b1;
  --secondary: #0f192e;
  --tertiary: #1d273b;
  --quaternary: #17223b;

  --redWrapper: #e8d7d7;
  --redBg: #e78284;
  --redText: #7b2021;
  --greenWrapper: #dfe7db;
  --greenBg: #a6d189;
  --greenText: #2d550f;
  --yellowWrapper: #eae6df;
  --yellowBg: #edda9b;
  --yellowText: #83611d;
  --whiteWrapper: #eaeae8;
  --whiteBg: #a3a3a1;
  --whiteText: #4b4b4b;

  font-family: 'fantasque_sans_monoregular', Inter, system-ui, Avenir, Helvetica,
    Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 1);
  background-color: var(--secondary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.primaryColor {
  background-color: var(--primary);
}
.secondaryColor {
  background-color: var(--secondary);
}
.tertiaryColor {
  background-color: var(--tertiary);
}
.quaternaryColor {
  background-color: var(--quaternary);
}

html {
  scroll-behavior: smooth;
}
html ::-webkit-scrollbar {
  width: 10px;
  height: 11px;
  transition: all 0.2s;
}
html ::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 4rem;
}
html ::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4rem;
}
html ::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

body {
  width: 100%;
  height: 100%;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
}

.log.error {
  --logWrapperColor: var(--redWrapper);
  --logBackgroundColor: var(--redBg);
  --logColor: var(--redText);
}
.log.success {
  --logWrapperColor: var(--whiteWrapper);
  --logBackgroundColor: var(--whiteBg);
  --logColor: var(--whiteText);
}
.log.info {
  --logWrapperColor: var(--yellowWrapper);
  --logBackgroundColor: var(--yellowBg);
  --logColor: var(--yellowText);
}
.log.OK {
  --logWrapperColor: var(--greenWrapper);
  --logBackgroundColor: var(--greenBg);
  --logColor: var(--greenText);
}
.log.DUP,
.log.OLD {
  --logWrapperColor: var(--yellowWrapper);
  --logBackgroundColor: var(--yellowBg);
  --logColor: var(--yellowText);
}
.log.NOP,
.log.INV,
.log.ERR,
.log.OWN {
  --logWrapperColor: var(--redWrapper);
  --logBackgroundColor: var(--redBg);
  --logColor: var(--redText);
}
